name: Release

on:
  push:
  
jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout release.txt
        uses: actions/checkout@v2.4.0
        with:
          repository: samaths/My_Target
          ref: feature-100
          token: ${{ secrets.MYTOKEN }} 
          path: ./My_Target
     
      - name: Update release.txt
        id: generate_commit_message
        run: |
            grep ':' release.txt > ./My_Target/release.txt
            echo "##[set-output name=message;]$(grep ':' release.txt)"            
          
      - name: Push the changes
        uses: EndBug/add-and-commit@v7
        with:
          cwd: ./My_Target
          message: ${{ steps.generate_commit_message.outputs.message }}
          branch: feature-100 
