
name: Release

on:
  push:
 
  
jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout release.txt
        uses: actions/checkout@v2.4.0
        with:
          repository: samaths/My_Target
          token: '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'
          path: ./My_Target
     
      - name: Update release.txt
        id: generate_commit_message
        run: |
            grep ':' release.txt > ./My_Target/release.txt
            echo "Updated release info."            
          
      - name: Push the changes
        uses: EndBug/add-and-commit@v7
        with:
          cwd: ./My_Target
          message: 'test msg'
          branch: main 
