name: Release

on:
  push:
  
jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    env:
      new_version: ''
    steps:
    

      - name: Update new_version
        run: |
            new_version=`grep ^[0-9] < release.txt`
            echo "${{env.new_version}}" >> ./My_Source/release.txt
     
      - name: Update release.txt
        uses: actions/checkout@v2.4.0
        if: ${{env.new_version != ''}}
        with:
          repository: samaths/My_Target
          ref: feature-100
          token: ${{ secrets.MYTOKEN }} 
          path: ./My_Target
        id: generate_commit_message
      - run: |
            echo "test data" > ./My_Target/release.txt
            echo "##[set-output name=message;]$(grep ':' release.txt)"            
          
      - name: Push the changes
        if: ${{env.new_version != ''}}
        uses: EndBug/add-and-commit@v7
        with:
          cwd: ./My_Target
          message: 'my test msg'
          branch: feature-100 
